@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.section {
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: #f8f9fa;
}

.img {
    max-width: 200%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    
}
.img:hover {
    
    transform: scale(1.5);
}

.h2 {
    /* font-family: 'Courgette', cursive; */
    font-weight: bold;
    /* color: #fa0808; */
    font-size: 38px;
    text-align: center;
    margin-top: 16px;
}

