.h4 {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    margin-top: 40px;
}

.img {
    width: 350px;
    height: 350px;
    transition: all 0.4s ease-in-out;
}

.wrap:hover .h4 {
    opacity: 1;
}

.wrap:hover .img{
    width: 350px;
    height: 350px;
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
}
