.section {
    padding: 40px 0;
}
.h3 {
    padding:8px;
    background-color:rgba(230, 79, 79, 0.815);
    color: white;
    border-radius: 5px;
    font-size:1.6rem;   
    margin-bottom: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.ul{
    padding: 20px;
    border-radius: 5px;
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    background-color:#f8d7da;
}
.li{
    font-size: 1rem;
}


.icon {
    font-size: 20px;
    color: #d9232d;
    margin-right: 10px;
}