.img {
    width: 350px;
    height: 350px;
}

.li {
    cursor: pointer;
}

.li:hover {
    background-color: #f8d7da;
}

.active {
    background-color: #f8d7da !important;
    border-color: #f8d7da !important;
}
.products {
    width: 75%;
    margin-left: auto;
}

@media (max-width: 1620px) {
    .products {
      width: 83% !important;
    }

  }
