.section {
    padding: 60px 0;
}
.section p {
    margin-top: 10px;
    font-size: 20px;
}
.img {
    width: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.h2{
    color:#fa0808;
    text-align: center;
    margin-top:40px;
}