body{
  font-family: "Open Sans", sans-serif !important;
  color: #444444 !important;
  
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.carousel-item img{
  height:937px !important;
  
}

.nav-item{
    font-size: 15px;
    font-weight: 500;
    color: #556270;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item{
  color: #556270;
  font-size: 15px;
    font-weight: 500;
    transition: 0.3s;

}
.dropdown-menu .dropdown-item:hover{
  color: #d9232d;

}

.react-fancybox .box .image-box .close-btn{
  background-color: white;
  min-width: 25px !important;
  min-height: 25px !important;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: -13px;
  top: -13px;
}

.react-fancybox .thumbnail img {
  max-width: 600px;
  cursor: pointer;
}

.react-fancybox .box .image-box img{
  min-width: 700px;
  min-height:680px;
}
