.section {
    padding: 4rem;
}

.table {
    background-color: #e9ecef;
}

.img {
    height: 150px;
    width: 150px;
}

.td {
    padding-top: 3rem !important;
}

.title{
    font-size:2rem ;
    text-decoration: none;
    color: inherit; 
}

.title:hover{
    color :#d9232d
}

.form {
    padding: 40px;
}